/* Generals */
/* Imports two fonts from Google APIs */
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@700&display=swap');

body {
    background-color: #000;
}

html, body {
    height:100%;
}

p {
    margin:0;
}

*,*::after,*::before {
    box-sizing: border-box;
}

a {
    color: azure !important;
}

/* Hero Section*/
/* Puts 20px padding and margins all around the jumbotron */
.jumbotron {
    position: relative;
    padding: 10px;
    margin: 10px;
}

/* Sets font for the quote text to default, ~16px, italic, thinner size font
with a max width to 95% of the available space in the column */
blockquote {
    font-family: 'Ibarra Real Nova', serif;
    font-style: italic;
    font-weight: 200;
    max-width: 95%;
    max-height: fit-content;
    font-size: 1em;
    border-top: 1px solid white;
}
/* Adds an open quote to the beginning of the blockquote */
blockquote:before {
    content: "‟";
    color: white;
    font-size: 2rem;
}
/* Adds padding to the top of the title and sets the font. */
.hero-title h1 {
    font-weight:700;
    font-size: bold;
    font-family: 'Ibarra Real Nova', serif;
    padding-top: 10px;
}
/* Centers the image in its column */
.hero-image {
    display:flex;
    justify-content: center;
}
/* Makes the image 100% of the available height. 
This is relative to the height of the quote. */
.hero-image img {
    height: 100%;
}

/* Makes the character name default sized & bold */
.hero-name p {
    font-size: 1em;
    font-weight: bold;
}

/* Makes the text in the column at least 50% wide 
and at most 90% to make it line up with the catalog content. 
Displays the elements in a column. Puts a 20px padding at the bottom. */
.copy {
    min-width: 50%;
    max-width: 90%;
    font-family: 'Ibarra Real Nova', serif;
    color:#cedfe7;
    display:flex;
    flex-direction: column;    
    padding-bottom: 20px;
}

/* Navigation */
.horizontal-scrollable > .row  {  
    overflow-x: auto !important; 
    display: flex;  
}  
  
.horizontal-scrollable > .row > .col-xs-5 {  
    flex: 1;
    margin-right: 5px;  
}

.genrebtn{  /* Styling for the buttons*/
    color: rgb(255, 255, 255); 
    background: rgb(159, 191, 233);  
    font-size: 26px;  
    width: 20%;
    padding-bottom: 18px;  
    padding-top: 16px;
    box-shadow: 1px 2px 5px #000000;
}  

/* Catalog */
.category{
    font-family: 'Ibarra Real Nova', serif;
}
.holder {
    padding:0 1.5%;
    position: relative;
}
.pic-holder {
    width:100%;
    height:100%
}
.pic-holder::after {
    content: "";
    position: absolute;
    top:-3.5%;
    left:50%;
    transform: translateX(-50%);
    width:92%;
    height:126%;
    background-color: rgba(17, 16, 17, 0.9);
    opacity: 0;
    transition: all .1s ease; 
}
.image {
    width:100%;
    height:100%;
    vertical-align: middle;
}
.layer {
    color: #dfdfe4;
    position: absolute;
    top: 0px;
    left: 20px;
    width: 80%;
    height: auto; 
    max-height: 100%; 
    z-index: 50;
    overflow: hidden;
    display: -webkit-box; /* For webkit browsers */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9; /* Number of lines to show */
    line-clamp: 9;
    -webkit-box-direction: normal;
    word-wrap: break-word;
    opacity: 0;
    transition: all .2s ease; 
    font-size: .9rem;
}
.btn-box {
    position:absolute;
    left:20px;
    bottom: -40px;
    z-index: 50;
    opacity: 0;
}
.holder:hover .image{
    transform-origin:center top; /* Set the origin of the transformation to the bottom */
    transform:  translateY(-3%) scaleX(1.11) scaleY(1.25);
}
.holder:hover .layer,
.holder:hover .pic-holder::after,
.holder:hover .btn-box {
    opacity: 1;
}
.movie-catalog {
    margin-top:80px;
}
.icon {
    width: 60%;
    height:60%;
}

/* footer */

.footer {
    
    background-color: #000000a2;  
    height: 100px;
    display: flex;
    align-items: center;
  }
  
  .icons {
    font-size: 110%;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
  }
  
  .icons a {
    background-color: #000000;  
    text-decoration: none;
    font-family: 'Ibarra Real Nova', serif;
    color: #ffffff!important;
    padding: 10px;
    border:solid rgb(255, 255, 255) 1px
    
    
  }

   .icons a:hover {
    color: rgb(222, 17, 185)!important;
    transition: 0.4s;
    background-color: #f2f75f;
    border:solid rgb(222, 17, 185) 1px
  }


/* catalog responsive media queries */
@media only screen and (max-width: 1200px){
    .category {
        padding-top: 1rem !important;
    }
    .category h4 {
        font-size: 1.3rem !important;
    }
    .layer {
        -webkit-line-clamp:7;
        line-clamp: 7;
    }
}
@media only screen and (max-width: 992px){
    .movie-catalog {
        margin-top:120px
    }
    .category {
        padding:8px 0!important;
        margin:0 0 2.5% 3%;
        border:none !important;
        text-align: left !important;
    }
    .category img{
        display:none;
    }
    .holder {
        padding:0 3%;
    }
    .content {
        row-gap: 80px !important;
    }
    .layer {
        -webkit-line-clamp: 11;
        line-clamp: 11;
    }
    
}
@media only screen and (max-width: 768px){
    .content {
        row-gap: 60px !important;
    }
    .layer {
        -webkit-line-clamp: 9;
        line-clamp: 9;
        font-size: .7rem;
    }
    .btn-box  a i{
        font-size: 1rem !important;
    }
}
@media only screen and (max-width: 576px){
    .category {
        margin:0 0 2.5% 4.5%;
    }
    .category h4 {
        font-size: 1.5rem !important;
    }
    .holder {
        padding:0 4.5%;
        width: 50%;
    }
    .content {
    row-gap: 80px !important;
    }   
    .layer {
        -webkit-line-clamp: 12;
        line-clamp: 12;
        font-size: .9rem;
    }
    .btn-box  a i {
    font-size: 1.5rem !important;
    }}

/* Hero section Media Queries */

/* For mid-size screens  */
@media screen and (max-width: 768px) and (min-width: 1200px) {
    /* Makes the text column 75% of the available space. */
    .copy {
        flex-direction: column;  
        max-width:75%;
    }
    /* Makes the image no more than 70% the height of the text. */
    .hero-image img {
        max-height: 70%;
    }
}
/* For screens smaller than 768 pixels  */
@media screen and (max-width: 768px) {
    
/* The entire hero section class. Adds 20 pixels padding and margins to the bottom of the section. */
.jumbotron {
    padding-bottom: 20px;
    margin-bottom: 20px;
}
/* Center the title */
.hero-title h1{
    align-items: center;
}

/* Assuming 1em=16px, the width of the quote uses 100% of available width.*/
blockquote {
    max-width: 100%;
    font-size: 1em;
    border-top: 1px solid white;
    max-height: fit-content;
}

/* Aligns the elements of the text section in a column. */
.copy {
    flex-direction: column;  
    margin-top: auto;
    width:100%;
}
/* Centers the image */
.hero-image {
    justify-content: center;
    height: 100%;
}

/* Maximum height for the image is 50% of the available space. */
.hero-image img {
    max-height: 50%;
}

/* Makes the name of the character slightly bigger. */
.hero-name p{
    font-size: 1.1em;
}
/* Makes the buttons scrollable when smaller*/
.horizontal-scrollable > .row{
    flex-wrap: nowrap;
}

.horizontal-scrollable > .row > .genrebtn {
    width: 170px;
    text-wrap: nowrap;
}
}