/* Generals */
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@700&display=swap');

p {

    margin:0;
    color:#cedfe7
}
/* Hero */
.jumbotron {
    height: calc(100vh - 25px);
    margin-bottom: 20px;
    padding: 10px;
}

blockquote {
    font-family: 'Ibarra Real Nova', serif;
    font-style: italic;
    max-width: 95%;
    max-height: fit-content;
    font-size: 1em;
    border-top: 1px solid white;
}

blockquote:before {
    content: "‟";
    color: white;
    font-size: 2rem;
}

.hero-title h1 {
    font-weight:700;
    font-family: 'Ibarra Real Nova', serif;
}

.hero-image {
    display:flex;
    justify-content: right;
}

.hero-image img {
    height: 100%;
}

.hero-name p {
    font-size: 1em;
    font-weight: bold;
}

.copy {
    min-width: 50%;
    max-width: 100%;
    font-family: 'Ibarra Real Nova', serif;
    color:#cedfe7;
    display:flex;
    flex-direction: column;    
    padding-bottom: 20px;
}

/* Navigation */


/* Catalog */

.holder {
    padding:0 1.5%;
    position: relative;
}
.pic-holder {
    width:100%;
    height:100%
}
.pic-holder::after {
    content: "";
    position: absolute;
    top:-3.5%;
    left:50%;
    transform: translateX(-50%);
    width:93%;
    height:126%;
    background-color: rgba(21, 20, 21, 0.8);
    opacity: 0;
    transition: all .3s ease; 
}
.image {
    width:100%;
    height:100%;
    vertical-align: middle;
}
.layer {
    color: #dfdfe4;
    position: absolute;
    top: 0px;
    left: 10px;
    width: 90%;
    height: auto; 
    max-height: 100%; 
    z-index: 50;
    overflow: hidden;
    display: -webkit-box; /* For webkit browsers */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9; /* Number of lines to show */
    line-clamp: 9;
    -webkit-box-direction: normal;
    word-wrap: break-word;
    opacity: 0;
    transition: all .2s ease; 
}
.holder:hover .image{
    transform-origin:center top; /* Set the origin of the transformation to the bottom */
    transform:  translateY(-3%) scaleX(1.11) scaleY(1.25);
}
.holder:hover .layer,
.holder:hover .pic-holder::after {
    opacity: 1;
}
.movie-catalog,
.TV-catalog {
    margin-top:80px;
}
.icon {
    width: 60%;
    height:60%;
}

@media screen and (max-width: 750px) and (min-width: 1000px) {
    .copy {
        flex-direction: column;  
        margin-top: auto;
        height:100px;
        width:100%;
        justify-content: space-between;
    
    }
}

@media screen and (max-width: 768px) {
    /* */

.jumbotron {
        height: 100%;
        max-height: fit-content;
}
.hero-title h1{
    justify-content: center;
    align-content: center;
}

blockquote {
    max-width: 100%;
    font-size: 12px;
    border-top: 1px solid white;
    max-height: fit-content;
}

.copy {
    flex-direction: column;  
    margin-top: auto;
    height:100px;
    width:100%;
    justify-content: space-between;

}

.hero-image {
    justify-content: center;
    height: 100%;
}

.hero-image img {
    max-height: 50%;
}

.hero-name p{
    font-size: 1em;
}