/* Generels */
body {
    background-color: #000;
}
p {
    margin:0;
}
*,*::after,*::before {
    box-sizing: border-box;
}
a {
    color: azure !important;
}
/* Hero */
/* Navigatin */


/* Catalog */

.holder {
    padding:0 1.5%;
    position: relative;
}
.pic-holder {
    width:100%;
    height:100%
}
.pic-holder::after {
    content: "";
    position: absolute;
    top:-3.5%;
    left:50%;
    transform: translateX(-50%);
    width:92%;
    height:126%;
    background-color: rgba(17, 16, 17, 0.9);
    opacity: 0;
    transition: all .1s ease; 
}
.image {
    width:100%;
    height:100%;
    vertical-align: middle;
}
.layer {
    color: #dfdfe4;
    position: absolute;
    top: 0px;
    left: 20px;
    width: 80%;
    height: auto; 
    max-height: 100%; 
    z-index: 50;
    overflow: hidden;
    display: -webkit-box; /* For webkit browsers */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9; /* Number of lines to show */
    line-clamp: 9;
    -webkit-box-direction: normal;
    word-wrap: break-word;
    opacity: 0;
    transition: all .2s ease; 
    font-size: .9rem;
}
.btn-box {
    position:absolute;
    left:20px;
    bottom: -40px;
    z-index: 50;
    opacity: 0;
}
.holder:hover .image{
    transform-origin:center top; /* Set the origin of the transformation to the bottom */
    transform:  translateY(-3%) scaleX(1.11) scaleY(1.25);
}
.holder:hover .layer,
.holder:hover .pic-holder::after,
.holder:hover .btn-box {
    opacity: 1;
}
.movie-catalog,
.TV-catalog {
    margin-top:80px;
}
.icon {
    width: 60%;
    height:60%;
}
@media only screen and (max-width: 1200px){
    .category {
        padding-top: 1rem !important;
    }
    .category h4 {
        font-size: 1.3rem !important;
    }
    .layer {
        -webkit-line-clamp:7;
        line-clamp: 7;
    }
}
@media only screen and (max-width: 992px){
    .movie-catalog {
        margin-top:120px
    }
    .category {
        padding:8px 0!important;
        margin:0 0 2.5% 3%;
        border:none !important;
        text-align: left !important;
    }
    .category img{
        display:none;
    }
    .holder {
        padding:0 3%;
    }
    .content {
        row-gap: 80px !important;
    }
    .layer {
        -webkit-line-clamp: 11;
        line-clamp: 11;
    }
    
}
@media only screen and (max-width: 768px){
    .content {
        row-gap: 60px !important;
    }
    .layer {
        -webkit-line-clamp: 9;
        line-clamp: 9;
        font-size: .7rem;
    }
    .btn-box  a i{
        font-size: 1rem !important;
    }
}
@media only screen and (max-width: 576px){
    .category {
        margin:0 0 2.5% 4.5%;
    }
    .category h4 {
        font-size: 1.5rem !important;
    }
    .holder {
        padding:0 4.5%;
        width: 50%;
    }
    .content {
    row-gap: 80px !important;
    }   
    .layer {
        -webkit-line-clamp: 12;
        line-clamp: 12;
        font-size: .9rem;
    }
    .btn-box  a i {
    font-size: 1.5rem !important;
    }
}